
 * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
 }

 body {
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
 }

.table-wrapper {
 margin: 20px 15px 15px;
 box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
}

.fl-table {
 border-radius: 5px;
 font-size: 12px;
 font-weight: normal;
 border: none;
 border-collapse: collapse;
 width: 100%;
 max-width: 100%;
 white-space: nowrap;
 background-color: white;
}

.fl-table td,
.fl-table th {
 text-align: center;
 padding: 7px;
}

.fl-table td {
 border-right: 1px solid #f8f8f8;
 font-size: 12px;
}

.fl-table thead th {
 color: #ffffff;
 background: #4fc3a1;
}

.fl-table thead th:nth-child(odd) {
 color: #ffffff;
 background: #324960;
}

.fl-table tr:nth-child(even) {
 background: #f8f8f8;
}

.left-btn {
 border: 1px solid #324960;
 background-color: #324960;
 color: white;
 margin-right: 4%;
 padding: 3%;
}

.left-btn:hover {
 background-color: #4fc3a1;
 border: 1px solid #4fc3a1;
}

.right-btn {
 border: 1px solid #4fc3a1;
 background-color: #4fc3a1;
 color: white;
 padding: 3%;
}

.right-btn:hover {
 border: 1px solid #324960;
 background-color: #324960;
}

.right-btn:hover, .left-btn:hover {
 cursor: pointer;
}

.pagination {
 margin-top: 10px;
 margin-left: 200px;
 margin-bottom: 5%;
}

.pagination,
.pagination li a {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-wrap: wrap;
}

.pagination li {
 background: #324960;
 list-style: none;
}

.pagination li a {
 text-decoration: none;
 color: #fdfdfd;
 height: 25px;
 width: 25px;
 font-size: 11px;
 padding-top: 1px;
 border: 1px solid rgba(0, 0, 0, 0.25);
 border-right-width: 0px;
 box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.35);
}

.pagination li:last-child a {
 border-right-width: 1px;
}

.pagination li a:hover {
 background: rgba(255, 255, 255, 0.2);
 border-top-color: rgba(0, 0, 0, 0.35);
 border-bottom-color: rgba(0, 0, 0, 0.5);
}

.pagination li a:focus,
.pagination li a:active {
 padding-top: 4px;
 border-left-width: 1px;
 background: rgba(255, 255, 255, 0.15);
 box-shadow: inset 0px 2px 1px 0px rgba(0, 0, 0, 0.25);
}

.pagination li.icon a {
 min-width: 120px;
}

.pagination li:first-child span {
 padding-right: 8px;
}

.pagination li:last-child span {
 padding-left: 8px;
}

.add-data-con {
 margin-left: 5%;
}

.add-input {
 margin: 1%;
 font-family: roboto;
 border: none;
 border-bottom: 2px solid black;
 background-color: transparent;
 resize: none;
 outline: none;
}

/* Responsive */

@media (max-width: 767px) {
 .fl-table {
  display: block;
  width: 100%;
 }

 .data-form {
  width: 450px;
 }

 .table-wrapper:before {
  content: "Scroll horizontally >";
  display: block;
  text-align: right;
  font-size: 11px;
  color: white;
  padding: 0 0 10px;
 }

 .fl-table thead,
 .fl-table tbody,
 .fl-table thead th {
  display: block;
 }

 .fl-table thead th:last-child {
  border-bottom: none;
 }

 .fl-table thead {
  float: left;
 }

 .fl-table tbody {
  width: auto;
  position: relative;
  overflow-x: auto;
 }

 .fl-table td,
 .fl-table th {
  padding: 20px 0.625em 0.625em 0.625em;
  height: 60px;
  vertical-align: middle;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  width: 120px;
  font-size: 13px;
  text-overflow: ellipsis;
 }

 .fl-table thead th {
  text-align: left;
  border-bottom: 1px solid #f7f7f9;
 }

 .fl-table tbody tr {
  display: table-cell;
 }

 .fl-table tbody tr:nth-child(odd) {
  background: none;
 }

 .fl-table tr:nth-child(even) {
  background: transparent;
 }

 .fl-table tr td:nth-child(odd) {
  background: #f8f8f8;
  border-right: 1px solid #e6e4e4;
 }

 .fl-table tr td:nth-child(even) {
  border-right: 1px solid #e6e4e4;
 }

 .fl-table tbody td {
  display: block;
  text-align: center;
 }

 .pagination {
  justify-content: left;
  margin-left: -7%;
  margin-right: -25%;
  padding-right: 0;
 }

 .add-input {
  margin: 3%;
 }
}